body {
  background-image: radial-gradient(
    circle at 50.55% 53.09%,
    #f9ded8 0,
    #e7d3d0 16.67%,
    #d2c7c6 33.33%,
    #bbbaba 50%,
    #a4adad 66.67%,
    #90a29f 83.33%,
    #7f9793 100%
  );
}

/* GLOBAL */

.descrip {
  background-color: rgb(237, 237, 237) !important;
  color: rgb(0, 0, 0) !important;
}

.activation {
  border-bottom: 2px solid #fe4918;
}
/* INDEX */
div.box {
  -webkit-box-shadow: 20px -13px 30px -2px rgba(8, 8, 8, 0.75);
  -moz-box-shadow: 20px -13px 30px -2px rgba(8, 8, 8, 0.75);
  box-shadow: 20px -13px 30px -2px rgba(8, 8, 8, 0.75);
}

div.head {
  background-color: rgb(12, 0, 0);
  cursor: pointer;
  transition: all 1s ease;
}
div.head:hover {
  background-color: #333333;
}

div.head h4 {
  color: #fff;
}

.button-submit {
  transition: all 1s ease;
}

/* NOTES */

div.card-h {
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #230037;
  border: 2px solid;
  border-color: #000000;
  position: relative;
  cursor: pointer;
}
div.card-h:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: all 1s ease;
}
div.card-h:hover:before {
  width: 100%;
}
/* div.card-h {
  min-height: 60px;
  background-color:  rgb(66, 1, 72);
  cursor: pointer;
}

div.card-h:hover{
    background-color:
    rgb(71, 0, 112);
}
 */
div.card-h h4 {
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

div.box-notes {
  -webkit-box-shadow: -1px 7px 56px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 7px 56px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 7px 56px -1px rgba(0, 0, 0, 0.75);
}

.button-edit {
  background-color: #006400 !important;
}

.button-edit:hover {
  background-color: #002c00 !important;
}

.button-delete {
  background-color: #af1111 !important;
}

.button-delete:hover {
  background-color: #4b0000 !important;
}

.min {
  min-height: 200px;
}

/* EDIT */

div.head-edit {
  background-color: rgba(65, 1, 104, 0.79);
  transition: all 1s ease;
  cursor: pointer;
}
div.head-edit:hover {
  background-color: #000000;
}
div.head-edit h4 {
  color: #fff;
}

input.update {
  background-color: rgba(65, 1, 104, 0.79);
  color: #fff;
  transition: all 1s ease;
}
input.update:hover {
  background-color: #000000;
  color: #fff;
}

div.head-edit h4:hover {
  color: rgb(255, 255, 255);
}
.alert-yet {
  min-height: 300px;
  font-size: 1.5em;
}

.alert-yet h4 {
  font-size: 1.8em;
}

.h4 {
  border-bottom: 2px solid #ffffff;
}
/* NAV */

.nav-span {
  transition: all 1s ease;
  cursor: pointer;
}
.nav-span:hover {
  background-color: #000000;
  color: #fff !important;
}
.span {
  color: #ff2f00 !important;
}

.nav-spant {
  transition: all 1s ease;
  cursor: pointer;
}
.nav-spant:hover {
  background-color: #000000;
  color: #fff !important;
}
